﻿
/* CMS Styles */
.pagecontent p { margin-top:0px; }
.section { margin-bottom:15px; }
.section:last-child { margin-bottom:0px; }

.cms-section-edit .section { margin-bottom:0px; }

.web-content h1 { font-size: 60px; line-height:1.1em; color:#839D57; font-weight:200; margin:0 0 5px 0; }
.web-content h2 { font-size: 50px; line-height:1.1em; color:#839D57; font-weight:200; margin:0 0 5px 0; }
.web-content h3 { font-size: 40px; line-height:1.1em; color:#839D57; font-weight:200; margin:0 0 5px 0; }
.web-content h4 { font-size: 30px; line-height:1.2em; color:#839D57; font-weight:200; margin:0 0 5px 0; }
.web-content h5 { font-size: 22px; line-height:1.2em; color:#000; font-weight:700; margin:0 0 5px 0; }
.web-content h6 { font-size: 18px; line-height:1.2em; color:#000; font-weight:700; margin:0 0 5px 0; }

.bodycopy, .bodycopy a, .copy, .copy a, .listitem, .listitem a, .listnumber, .caption, .linkdesc, .linkitem, .linkitem a { font-family:baskerville, "Mrs Eaves", Garamond, "Apple Garamond", Georgia, serif; font-weight:400; font-style:normal; font-size:18px; color:#000; /* color:#666; */ text-decoration:none; }
.bodycopy, .bodycopy a   { font-size:18px; line-height:20px; color:#000; /* color:#666; */ }
.bodycopy a, .copy a, .listitem a   { color:#00aab3; }

.caption    { font-size:18px; }

.listitem   { margin-bottom:3px; }
.listnumber { font-weight:bold; padding-right:2px; }
.listbullet { padding-left:18px; background:url(/global/cms/bullet.gif) no-repeat; background-position:6px 9px; }

.linkitem   { margin-bottom:0px; }
.linkitemh  { padding-right:15px; }
.linkdesc   { padding:0px 0px 15px 18px;}
.linkitem a { background:url(/global/cms/link/off/link1.png) no-repeat; background-position:7px 9px; color:#00aab3; padding:3px 0px 3px 18px; display:block; }
.linkitem a:hover { color:#0054a3; background-image:url(/global/cms/link/over/link1.png); border:0;}
.linkitemedit a { background-position:7px 12px; }

.hrule { background:url(/global/cms/hrule.gif) repeat-x; height:1px; }

/* YL Styles */

.nowrap { white-space:nowrap; }

.title-area { min-height:100px; }
.title-area .intro h2.med { font-size:60px; line-height:1.1em; margin:0; }
.title-area .intro h2.small { font-size:50px; line-height:1.1em; margin:0;  }

.transbox div.text { color:white; font-size:23px; line-height: 25px; margin:20px; font-family:baskerville, "Mrs Eaves", Garamond, "Apple Garamond", Georgia, serif; font-weight:400; }
.intro-block { background:bottom right no-repeat #ccc; background-size:cover; height:435px; }
.photoblock-content  { width:80%; margin:30px auto; }
.photoblock-right { position:relative; }
.photoblock-right .photo { background:url() #ccc bottom center no-repeat; background-size:cover; border-left:4px solid #23cad5; top:0; right:0; height:100%; display:block; position:absolute; }
.photoblock-left { background-color:#f6f6f6; position:relative; }
.photoblock-left .photo { background:url() #ccc bottom center no-repeat; background-size:cover; display:block; height:100%; position:absolute; border-right:4px solid #23cad5; }
.product div.text { font-size:18px; margin:10px 0; }
.product-catimg { background-color:#ccc; }
.contentbox { padding:30px 6%; }
.category-block h3 { font-size:40px; line-height:40px; margin-bottom:0; }
.category-block .catpad  { padding-right:8%; }
.product-grid-image { position: absolute; top:40px; width:100%; height:210px; }
.product-thumb-bg {	margin:0 auto; width:200px; height:200px; background-repeat:no-repeat; background-size:contain; background-position:center center; }
.featured-product .details div.text { padding:4px 0 10px 0; }
.link-button { margin:15px 0; }
.contentbox .flickr-gallery-wrapper { margin-bottom:20px; }
.product-detail-photo { width:100%; }
.product-detail-photo img { display:block; margin:20px auto; }
.vimeo-embed { display:block; }
.youtube-embed { display:block; }

.embed-container { height: 0; width: 100%; padding-bottom:56.25%; overflow:hidden; position:relative; background:#f0f0f0; }
.embed-container iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.news-article-date { font-weight:bold; color:#333; /* color:#666; */ margin-bottom:30px; }

#HeaderImageDiv { background-color:#999; }
#contentarea { min-height:500px; background-color:#fff; }

.product-text, .event-info  { font-family:baskerville, "Mrs Eaves", Garamond, "Apple Garamond", Georgia, serif !important; font-weight:400; !important; font-size: 18px !important; line-height: 21px !important; color: #000 !important; }    
.product-text i, .product-text em, .event-info em, .event-info i { font-family:baskerville, "Mrs Eaves", Garamond, "Apple Garamond", Georgia, serif !important; font-weight:400 !important; }
.product-description  { font-size : 21px !important; line-height:25px !important; }
.product-text p, .product-text iframe { margin:15px 0 !important; }
.product-text li { margin:10px 0 !important; font-size:18px !important; line-height:21px !important; }

.event-index-item h6 { margin-bottom:5px; }
.event-index-item { padding-bottom:20px; border-bottom:1px solid #ccc; margin-bottom:20px; }

.event-info { margin:15px 0; }
.event-info-location, .event-info-date { color:#000; /* color:#666; */ font-size:20px; margin-bottom:5px; }
.event-info-host { font-size:18px; margin:10px 0; color:#000; }
.event-info-cost { font-size:20px; line-height:25px; color:#393; margin:15px 0; }
.event-legal { font-size:16px; line-height:20px; margin:15px 0; }

.product-description iframe { max-width:100%; }
.featured-product-img a { border-bottom:0px; }

.home-intro .video-container img { display:block; }

.timeline-container .img { background-color:#ccc; }
.product-slideshow .slide-content div.text { margin-bottom:15px; }

.two-column-table { margin-bottom:20px; }
.two-column-table td { padding:5px 10px; }
.two-column-table tr.data:nth-child(odd) { background-color:#eee; }
.two-column-table td  { border:2px solid #fff; font-family:baskerville, "Mrs Eaves", Garamond, "Apple Garamond", Georgia, serif !important; font-weight:400 !important; font-size:18px !important; line-height:21px !important; color:#999 !important; }
.two-column-table tr.data td:first-child  { font-family:baskerville, "Mrs Eaves", Garamond, "Apple Garamond", Georgia, serif !important; font-weight:700 !important; border:2px solid #fff;  color:#666 !important; }
.two-column-table tr.colhd td  { background:#999; font-size:18px !important; font-family:baskerville, "Mrs Eaves", Garamond, "Apple Garamond", Georgia, serif !important; font-weight:700 !important; color:#fff !important; }
.two-column-table tr.spacer td  { height:15px; padding:0px; }
.two-column-table tr.header td  { background:#b8ca85; font-size:20px !important; font-family:baskerville, "Mrs Eaves", Garamond, "Apple Garamond", Georgia, serif !important; font-weight:700 !important; color:#fff !important;  }


@media (max-width: 979px)  {
    .title-area { min-height:60px; } 
}

@media (max-width: 767px) {
    #contentarea{ background-color:#fff; background-image:none; }
}

