﻿

.title-area h1 {
	line-height: 70px;
	font-size: 70px;
	color: #839D57;
}

	.title-area h1.med {
		line-height: 60px;
		font-size: 60px;
	}

	.title-area h1.small {
		line-height: 50px;
		font-size: 50px;
	}

.breadcrumb-bar.with-circle {
	text-align: left;
	box-sizing: border-box;
}

.breadcrumb-inner {
	width: 1200px;
	box-sizing: border-box;
	padding-left: 476px; /* background:red; */
	margin: 0 auto;
}

.product-slideshow h4 {
	line-height: 1em;
}

.gs-adjacent img {
	max-width: initial;
}
/* Fix Bootstrap Bug */

@media (max-width: 1239px) {
	.breadcrumb-inner {
		width: 940px;
		padding-left: 346px;
	}
}

@media (max-width: 979px) {
	.breadcrumb-inner {
		width: 724px;
		padding-left: 274px;
	}
}

@media (max-width: 767px) {
	.breadcrumb-inner {
		width: 100%;
		padding-left: 26px;
	}
}


/* Photo Tile Grid */

.photo-tile-grid, .photo-tile-grid * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.photo-tile-grid {
	margin: 30px auto;
	text-align: center;
}

	.photo-tile-grid figcaption {
		text-align: start;
	}

	.photo-tile-grid a {
		display: block;
		border-bottom: 0;
	}


	.photo-tile-grid figure {
		background: #fefefe;
		padding: 15px;
		margin-bottom: 15px;
		padding-bottom: 10px;
		display: inline-block;
		width: 30%;
		margin-right: 1.5%;
		margin-left: 1.5%;
		vertical-align: top;
		transition: all .3s ease;
		-moz-transition: all .3s ease;
		-webkit-transition: all .3s ease;
	}

	.photo-tile-grid.bottom figure {
		vertical-align: bottom;
	}

	.photo-tile-grid.borders figure {
		border: 2px solid #fcfcfc;
		box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	}

	.photo-tile-grid.col-grid-4 figure {
		width: 22%;
	}

	.photo-tile-grid.col-grid-3 figure {
		width: 30%;
	}

	.photo-tile-grid.col-grid-2 figure {
		width: 47%;
	}

	.photo-tile-grid figure img {
		width: 100%;
		height: auto;
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;
		margin-bottom: 5px;
	}

	.photo-tile-grid figure figcaption {
		font-size: .9rem;
		color: #444;
		line-height: 1.5;
		margin-top: 8px;
	}

	.photo-tile-grid.photo-tile-animated:hover figure:not(:hover) {
		opacity: 0.5;
		transform: scale(0.9);
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
	}

@media screen and (max-width: 750px) {
	.photo-tile-grid figure {
		width: 47%;
	}

	.photo-tile-grid.col-grid-4 figure {
		width: 30%;
	}

	.photo-tile-grid.col-grid-3 figure {
		width: 47%;
	}

	.photo-tile-grid.col-grid-2 figure {
		width: 97%;
	}
}

@media screen and (max-width: 600px) {
	.photo-tile-grid figure {
		width: 100%;
	}

	.photo-tile-grid.col-grid-4 figure {
		width: 47%;
	}

	.photo-tile-grid.col-grid-3 figure {
		width: 97%;
	}

	.photo-tile-grid.col-grid-2 figure {
		width: 97%;
	}
}


/* Tile Grid */

.tile-grid, .tile-grid * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.tile-grid {
	margin: 30px auto;
	text-align: center;
}

.tile-grid .tile {
	background: #fefefe;
	padding: 15px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	display: inline-block;
	width: 30%;
	margin-right: 1.5%;
	margin-left: 1.5%;
	vertical-align: top;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

.tile-grid.bottom .tile {
	vertical-align: bottom;
}

.tile-grid.borders .tile {
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.tile-grid.col-grid-10 .tile,
.tile-grid.col-grid-9 .tile,
.tile-grid.col-grid-8 .tile,
.tile-grid.col-grid-7 .tile,
.tile-grid.col-grid-6 .tile,
.tile-grid.col-grid-5 .tile,
.tile-grid.col-grid-4 .tile {
	min-width: 80px;
}
.tile-grid.col-grid-10 .tile {
	width: 9%;
	margin-right: 0.5%;
	margin-left: 0.5%;
	padding: 5px;
}

.tile-grid.col-grid-9 .tile {
	width: 10.1%;
	margin-right: 0.5%;
	margin-left: 0.5%;
	padding: 5px;
}

.tile-grid.col-grid-8 .tile {
	width: 11.5%;
	margin-right: 0.5%;
	margin-left: 0.5%;
	padding: 5px;
}

.tile-grid.col-grid-7 .tile {
	width: 12.28%;
	margin-right: 1%;
	margin-left: 1%;
	padding: 10px;
}

.tile-grid.col-grid-6 .tile {
	width: 14.66%;
	margin-right: 1%;
	margin-left: 1%;
	padding: 10px;
}

.tile-grid.col-grid-5 .tile {
	width: 18%;
	margin-right: 1%;
	margin-left: 1%;
	padding: 10px;
}

.tile-grid.col-grid-4 .tile {
	width: 22%;
	margin-right: 1.5%;
	margin-left: 1.5%;
}

.tile-grid.col-grid-3 .tile {
	width: 30.33%;
	min-width: 230px;
	margin-right: 1.5%;
	margin-left: 1.5%;
}

.tile-grid.col-grid-2 .tile {
	width: 47%;
	margin-right: 1.5%;
	margin-left: 1.5%;
}

.tile-grid.col-grid-1 .tile {
	width: 97%;
	margin-right: 1.5%;
	margin-left: 1.5%;
}

/*
.tile-grid .tile img {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}
/**/

.tile-grid .app-section-standard-buttons img {
	width: auto;
}

.tile-grid .tile figcaption {
	font-size: .9rem;
	color: #444;
	line-height: 1.5;
	margin-top: 8px;
}

.tile-grid.tile-animated:hover .tile:not(:hover) {
	opacity: 0.5;
	transform: scale(0.9);
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
}


@media screen and (max-width: 1250px) {

	.tile-grid.col-grid-10 .tile {
		width: 10.11%;
	}

}

@media screen and (max-width: 1200px) {

	.tile-grid.col-grid-9 .tile,
	.tile-grid.col-grid-10 .tile {
		width: 11.5%;
	}

}

@media screen and (max-width: 1180px) {

	.tile-grid.col-grid-8 .tile,
	.tile-grid.col-grid-9 .tile,
	.tile-grid.col-grid-10 .tile {
		width: 12.28%;
		margin-left: 1%;
		margin-right: 1%;
	}

}

@media screen and (max-width: 1165px) {

	.tile-grid.col-grid-7 .tile,
	.tile-grid.col-grid-8 .tile,
	.tile-grid.col-grid-9 .tile,
	.tile-grid.col-grid-10 .tile {
		width: 14.66%;
	}

}

@media screen and (max-width: 1135px) {

	.tile-grid.col-grid-6 .tile,
	.tile-grid.col-grid-7 .tile,
	.tile-grid.col-grid-8 .tile,
	.tile-grid.col-grid-9 .tile,
	.tile-grid.col-grid-10 .tile {
		width: 18%;
	}

}

@media screen and (max-width: 1125px) {

	.tile-grid.col-grid-5 .tile,
	.tile-grid.col-grid-6 .tile,
	.tile-grid.col-grid-7 .tile,
	.tile-grid.col-grid-8 .tile,
	.tile-grid.col-grid-9 .tile,
	.tile-grid.col-grid-10 .tile {
		width: 22%;
		margin-left: 1.5%;
		margin-right: 1.5%;
	}

}

@media screen and (max-width: 1120px) {

	.tile-grid.col-grid-4 .tile,
	.tile-grid.col-grid-5 .tile,
	.tile-grid.col-grid-6 .tile,
	.tile-grid.col-grid-7 .tile,
	.tile-grid.col-grid-8 .tile,
	.tile-grid.col-grid-9 .tile,
	.tile-grid.col-grid-10 .tile {
		width: 30.33%;
	}

	.tile-grid.col-grid-3 .tile {
		width: 47%;
	}

	.tile-grid.col-grid-2 .tile {
		width: 97%;
	}
}

@media screen and (max-width: 600px) {
	.tile-grid.col-grid-2 .tile, 
	.tile-grid.col-grid-3 .tile {
		width: 97%;
	}

	.tile-grid.col-grid-4 .tile,
	.tile-grid.col-grid-5 .tile,
	.tile-grid.col-grid-6 .tile,
	.tile-grid.col-grid-7 .tile,
	.tile-grid.col-grid-8 .tile,
	.tile-grid.col-grid-9 .tile,
	.tile-grid.col-grid-10 .tile {
		width: 47%;
	}

}



/* CTA adjustments for small buttons */
@media screen and (max-width: 360px), screen and (min-width: 1125px) {
	.tile-grid.col-grid-10 .button-cta,
	.tile-grid.col-grid-9 .button-cta,
	.tile-grid.col-grid-8 .button-cta,
	.tile-grid.col-grid-7 .button-cta,
	.tile-grid.col-grid-6 .button-cta {
		height: auto;
		line-height: normal;
		padding: 5px;
	}

}

@media screen and (min-width: 1125px) and (max-width: 1135px), screen and (max-width: 360px) {
	.tile-grid.col-grid-5 .button-cta {
		height: auto;
		line-height: normal;
		padding: 5px;
	}

}
