
/* ---------- COMMON ---------- */

body {
	font-family:baskerville, "Mrs Eaves", Garamond, "Apple Garamond", Georgia, serif;
	font-weight:400;
	color: #000;
	line-height: 20px;
	background-color: #eee;
}

/*a { color: #7d6655; text-decoration: none; }*/
/*a:hover, a:focus { color: #9860B2; }*/

h1, h2, h3, h4, h5, h6 { 
	font-family:montserrat, avenir, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight:200; 
}

h5, h6 { 
	font-weight:700; 
}


em, i, em a, i a, .timeline-caption { font-family:baskerville, "Mrs Eaves", Garamond, "Apple Garamond", Georgia, serif; }
footer .contact td, footer .contact a, .date-row .date { font-family:baskerville, "Mrs Eaves", Garamond, "Apple Garamond", Georgia, serif; font-weight:700; }
.homepage .date .day { font-style:italic; }

.nav li a,
.breadcrumbs,
.upper,
.home-intro strong,
.home-intro b,
.btn-menu,
.title,
.home-intro h2,
.button-cta {
	font-family:montserrat, avenir, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight:700;
}

footer .contact .upper,
.dropdown-menu > li > a,
.product-thumb .title,
ul.secondary-nav .submenu a {
	font-family:montserrat, avenir, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; 
	font-weight:400;
}


#copyright {
	font-family:montserrat, avenir, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight:400;
}

strong, b {
	/* color: #797979; */
}

h2 {
	line-height: 70px;
	font-size: 70px;
	font-weight: normal;
	color: #839D57;
}

h3 {
	line-height: 60px;
	font-size: 60px;
	font-weight: normal;
	color: #b0c778;
}

h4 {
	font-size: 40px;
	line-height: 40px;
	color: #b0c778;
	font-weight: normal;
}

h5 {
	line-height: 24px;
	font-size: 24px;
	color: #fff;
}

h6 {
	font-size: 18px;
	line-height: 26px;
	color: #797979;
}

.clear {
	clear: both;
}

.upper {
	text-transform: uppercase;
	font-weight: bold;
}

.relative {
	position: relative;
}

.link-more {
	text-transform: uppercase;
	font-size: 12px;
}

.row-full {
	clear: both;
	width: 100%;
	float: none;
	margin: 25px 0;
}

.padded {
	padding: 40px 70px;
}

.topmargin {
	margin-top: 25px;
}

.bottommargin {
	margin-bottom: 25px;
}

#logo  { display: block; text-indent:-999em; background-image: url(/global/i/new-logo.png); background-repeat: no-repeat; outline:none; }

#localization-nav .arrow,
.button-go,
.sort-bar .name,
.button.new,
.button.popular,
.button.alpha,
.cycle-pager span {
	display: block;
	text-indent: -999em;
	background-image: url(/global/img/common/sprites.png);
	background-repeat: no-repeat;
	outline: none;
}

#localization-nav li a,
#localization-nav #current a {
	display: block;
	text-indent: -999em;
	background-image: url(/global/img/common/flag-sprites.png?=v3);
	background-repeat: no-repeat;
	background-position: 0 100px; /* Blank */
	outline: none;
}

hr {
	height: 5px;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}

hr.inverted {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}







/* ---------- HEADER ---------- */

/*
header {
	position: relative;
	height: 200px;
	z-index: 120;
}

header .container {
	position: relative;
}

#logo {
	position: absolute;
	top: 20px;
	left: 110px;
	width: 260px;
	height: 80px;
	background-position: left top;
}

#logo:hover {
	border: none;
}
*/

.member-nav {
	position: absolute;;
	top: 10px;
	right: 5px;
	font-size: 16px;
	line-height: 30px;
	width: 316px;
	text-align:right;
}

.member-nav span {
	color: #3b4a0b;
	padding: 0 5px;
}

.member-nav a {
	color: #fff;
}

.member-nav a:hover {
	border-bottom: 1px dotted #fff;
}

.btn-menu {
	display: none;
}

.navbar {
	position: absolute;
	top: 60px;
	right: -20px;
}

ul.nav {
	font-size: 18px;
}

ul.dropdown-menu {
	padding-top: 5px;
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}

li.dropdown:hover,
li.dropdown.open {
  color: #b0c778;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}

/* Menu for Secondary nav on left hand side */
.left-menu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #e2f8f9;
	display:none;
}
/* hackish, but blue background only gets applied in media query*/
.blue-background{
	background: #fff;
}
.white-background{
	background: #fff;
}
ul.secondary-nav{
	margin-top: 33px;
	text-align:left;
	list-style:none;

}

ul.secondary-nav.topmargin {
	margin-top: 55px;
}

ul.secondary-nav li{
	border-top: 1px solid #d4e1e2; 
	padding: 13px 5px 10px 20px;
	/* margin: 2px 0; */
	margin: 0; 
}

ul.secondary-nav li.open + li { border-top:none; }
    
ul.secondary-nav>:first-child{
	border-top: 1px solid #a7bf69;
}
ul.secondary-nav>:last-child{
	border-bottom: 1px solid #a7bf69;	
}

ul.secondary-nav li a{
	font-family:montserrat, avenir, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight:700;
	font-size: 20px;
	line-height: 20px;
	color:#797979;
}
ul.secondary-nav li a:hover,
ul.secondary-nav li.open a,
ul.secondary-nav li.active a
{
	color:#b0c778;
	text-decoration:none;
	border: 0;
}
.submenu{
	display: none;
}
ul.secondary-nav li.open {
	border-top: 1px solid #a7bf69;
	border-bottom: 1px solid #a7bf69;
}
li.open .submenu {
	display: block;
}
ul.secondary-nav .submenu {
	list-style: none;
	margin: 0;
}
ul.secondary-nav .submenu li {
	border: none;
	padding: 0;
}

ul.secondary-nav .submenu a {
	font-size: 16px;
	color: #00aab3 !important;
	padding-left: 16px;
	margin-left: -16px;
}

ul.secondary-nav .submenu a.active,
ul.secondary-nav .submenu a:hover {
	color: #797979 !important;
	background: url(/global/img/common/sprites.png) no-repeat;
	background-position: -388px -150px;
}

.title-area .search-form {
	margin-top: 14px;
}

.search-form.light .search-field {
	background-color: #fff !important;
	color: #919191 !important;
	border: 1px solid #919191 !important;
}

.dropdown-menu > li > a {
	padding: 3px 12px;
	line-height: 18px;
	font-size: 16px;
}

.dropdown-menu .search-form {
	margin: 5px 0 -2px 10px
}

.search-form.light .btn-search {
	background-position: -19px -124px;
}


/* ---------- LOCALIZATION MENU ---------- */

#localization-nav {
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
	width: 47px;
	z-index: 120;
	background: rgb(255,255,255);
	background: rgba(255,255,255,.5);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 0 0 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 0 0 10px rgba(0,0,0,.2);
	box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 0 0 10px rgba(0,0,0,.2);
}

#localization-nav .arrow {
	width: 47px;
	height: 20px;
	background-position: -284px -150px;
}

#localization-nav ul {
	display: none;
}

#localization-nav #current a,
#localization-nav li a {
	width: 47px;
	height: 25px;
	line-height: 30px;
	cursor: pointer;
	border: none;
}

#localization-nav li a:hover {
	background-color: rgba(255,255,255,.5);
}

#localization-nav #current a:hover {
	border: none;
}

#localization-nav .en-us a { background-position: 0 0 !important; }
#localization-nav .es-us a { background-position: 0 -25px !important; }
#localization-nav .en-ca a { background-position: 0 -50px !important; }
#localization-nav .fr-ca a { background-position: 0 -75px !important; }
#localization-nav .en-au a { background-position: 0 -100px !important; }
#localization-nav .en-gb a { background-position: 0 -125px !important; }
#localization-nav .de-at a { background-position: 0 -150px !important; }
#localization-nav .de-de a { background-position: 0 -175px !important; }
#localization-nav .es-es a { background-position: 0 -200px !important; }
#localization-nav .en-sg a { background-position: 0 -225px !important; }
#localization-nav .es-mx a { background-position: 0 -250px !important; }
#localization-nav .ja-jp a { background-position: 0 -275px !important; }
#localization-nav .sv-se a { background-position: 0 -300px !important; }
#localization-nav .en-hk a { background-position: 0 -325px !important; }
#localization-nav .zh-hk a { background-position: 0 -350px !important; }
#localization-nav .cs-cz a { background-position: 0 -375px !important; }
#localization-nav .en-my a { background-position: 0 -400px !important; }
#localization-nav .en-eu a { background-position: 0 -425px !important; }


#wrapper {
	max-width: 1280px;
	margin: 0 auto;
	background-color: #fff;
}

#content {
	margin-top: -200px;
}



.dropdown.last .dropdown-menu  {
	left:auto;
	right:-11px;
	text-align:right;
}

.top {
	position: relative;
	display: block;
	height: 303px;
	background: top left no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0 0 40px rgba(0,0,0,.9);
	-moz-box-shadow: inset 0 0 40px rgba(0,0,0,.9);
	box-shadow: inset 0 0 40px rgba(0,0,0,.9);
}

.shadow-inset {
	-webkit-box-shadow: inset 0 0 40px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 0 40px rgba(0,0,0,.4);
	box-shadow: inset 0 0 40px rgba(0,0,0,.4);
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	z-index: 101;
	background: #000;
	background: rgba(0,0,0,.5);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}


.rounded {
	position: relative;
	width: 275px;
	height: 275px;
	background-color: transparent;
	overflow: hidden;
	-webkit-border-radius: 138px;
	-moz-border-radius: 138px;
	border-radius: 138px;
}

.shadow {
	-webkit-box-shadow: 0 0 24px rgba(0,0,0,.1), inset 0 0 0 4px #fff, inset 0 0 40px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 24px rgba(0,0,0,.1), inset 0 0 0 4px #fff, inset 0 0 40px rgba(0,0,0,.2);
	box-shadow: 0 0 24px rgba(0,0,0,.1), inset 0 0 0 4px #fff, inset 0 0 40px rgba(0,0,0,.2);
	border: solid 1px rgba(180,180,180,.5);
}

.breadcrumb-area {
	display: block;
	position: absolute;
	z-index: 99;
	bottom: 0;
	min-height: 30px;
	width: 100%;
	background: rgb(0,0,0);
	background: rgba(0,0,0,.5);
}

.breadcrumb li a {
	color: #fff;
	font-weight: bold;
}

.breadcrumb li a:hover, .breadcrumb li a.active {
	border: none;
	color: #b0c778;
}

.pad-right {
	padding-right: 20px;
}

a.small {
    font-size: 11px;
}


/* ---------- HOME DATE LIST - COULD BE USED ELSEWHERE ---------- */

.timeline-container {
	background: url(/global/img/home/timeline-bg.gif) center top repeat-y;
}

.timeline {
	position: relative;
}

.timeline.right {
	background: #f6f6f6;
	background: rgba(0,0,0,0.04);
}

.timeline .content {
	padding: 40px 0;
	width: 55.8928%;
}

.timeline.left .header {
	padding-left: 10%;
	padding-right: 20%;
}

.timeline.right .header {
	padding-left: 20%;
	padding-right: 10%;
}

.timeline h3 {
	margin-bottom: -5px;
}

.timeline p {
	font-size: 18px;
	margin: 10px 0;
}

.timeline.left .content {
	text-align: right;
	float: left;
}

.timeline.right .content {
	text-align: left;
	float: right;
}

.timeline .img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.timeline.left .img {
	border-left: 3px solid #23cad5;
	margin-left: 55.8928%;
	width: 43.85%;
}

.timeline.right .img {
	margin-left: 0;
	border-right: 3px solid #23cad5;
	width: 43.85%;
}

.timeline-caption {
	max-width: 378px;
	color: #fff;
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
	background: #000;
	background: rgba(0,0,0,0.25);
	filter: alpha(opacity=25);
}

.timeline-caption p {
	padding: 0;
	margin: 0;
}

.timeline-caption.bottom {
	position: absolute;
	bottom: 0;
}

.date-row {
	margin: 20px 0;
	width: 100%; 
}

.timeline.left .date-row.active {
	background-image: url(/global/img/home/arrow-blue-left.png);
	background-repeat: no-repeat;
	background-position: right 30px;
}

.timeline.right .date-row.active {
	background-image: url(/global/img/home/arrow-blue-right.png);
	background-repeat: no-repeat;
	background-position: left 30px;
}

.date-row .info {
	width: 70%;
}

.timeline.left .date-row .info {
	padding-left: 10%;
	float: left;
}

.timeline.right .date-row .info {
	padding-right: 10%;
	margin-left: 0;
	float: right;
}

.home-intro h5,
.date-row h5 {
	color: #000;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
}

.home-intro h5 {
	margin-bottom: 15px;
}

.date-row p {
	margin: 2px 0;
}

.date-row .date {
	display: block;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	padding-top: 24px;
	text-align: center;
	min-width: 84px;
	min-height: 84px;
	background: url(/global/img/home/date-bg.png) center top no-repeat;
}

.date-row .date:hover {
	border: none;
}

.timeline.left .date-row .date {
	margin-left: 80%;
}

.timeline.right .date-row .date {
	margin-left: 0;
	width: 20%;
}

.date-row em,
.date-row i {
	font-size: 22px;
}










/* ---------- TITLE AREA ---------- */

.title-area {
	background: #f6f6f6;
	padding: 30px 0 20px 0;
	font-size: 18px;
	line-height: 26px;
}

.title-area {
	font-size: 22px;
}

.feature-img {
	position: relative;
	top: -130px;
	z-index: 200;
}

.feature-img .outer {
	position: absolute;
	top: 0;
	z-index: 101;
}

.feature-img .inner {
	position: absolute;
	top: 0;
	left: 2px;
	width: 273px;
	height: 273px;
	z-index: 100;
}


/* ---------- NAV LAYOUT ----------------*/
.company,
.product-detail{
	margin-left: 23.42% !important;
}


/* ---------- PRODUCTS ---------- */

.product {
	position: relative;
}

.product.right {
	background: #f6f6f6;
}

.product .content {
	padding: 40px 0;
}

.product h3 {
	margin-bottom: -5px;
}

/*
.product p {
	font-size: 18px;
	margin: 10px 0;
}
*/

.product.left .content {
	padding-left: 10%;
	text-align: right;
	float: left;
}

.product.right .content {
	padding-left: 30px;
	padding-right: 10%;
	text-align: left;
	float: right;
}

.product-links {
	font-size: 20px;
	line-height: normal;
	color: #00aab3;
}

#product-category-search-form {
	margin-left: 25px;
}


.product-catimg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;

	-webkit-box-shadow: inset 0 0 50px rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 0 50px rgba(0,0,0,.5);
	box-shadow: inset 0 0 50px rgba(0,0,0,.5);
}

.product-catimg a {
    display:block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
   }

.category-block-link { margin-top:10px; }

.product.right .product-catimg {
	margin-left: 0;
	border-right: 3px solid #00aab3;
}

.product.left .product-catimg {
	border-left: 3px solid #00aab3;
}

.button-go {
	width: 45px;
	height: 31px;
	background-position: 0 -150px;
	border: none;
}



/* ---------- FEATURED PRODUCT ---------- */

.featured-product {
	float: right;
	width: 240px;
	min-height: 200px;
	color: #797979;
	background: url(/global/img/products/product-bg-featured.jpg) top left repeat-x #e5f2c3;
}

.featured-product img {
	margin: 0 auto;
}

.featured-product .details {
	padding: 20px;
}

.featured-product .title {
	font-size: 18px;
}

.product-center-column {
    min-height:700px;
}

/* ---------- PRODUCT GRID ---------- */

.right-column {
	margin-left: 23.42%;
	min-height: 700px;
	font-size: 18px;
	line-height: 20px;
	color: #919191;
}

.right-column em,
.right-column i {
	font-size: 20px;
}

.sort-bar {
	position: relative;
	display: block;
	min-height: 60px;
	background-color: #b0c778;
}

.sort-bar .search-form {
	margin: 14px 0 0 10px;
	float: left;
}

.sort-bar .name,
.sort-bar .button {
	height: 60px;
	background-color: #b0c778;
	float: left;
	border-bottom: none;
}

.sort-bar .name {
	width: 70px;
	background-position: 14px -181px;
	background-color: #b0c778;
}

.sort-bar .button:hover {
	background-color: #919191;
	border-bottom: none;
}

.button.new {
	width: 105px;
	background-position: -58px -181px;
}

.button.popular {
	width: 128px;
	background-position: -164px -181px;
}

.button.alpha {
	width: 110px;
	background-position: -293px -181px;
}

.sort-bar .search-field {
	background-color: #b0c778 !important;
	color: #fff !important;
	border: 1px solid #fff !important;
}

.product-rows {
	/* background: url(/global/img/products/product-bg.jpg) top left repeat; */
}

.product-thumb {
	position: relative;
	width: 25%;
	min-width: 239px;
	height: 307px;
	float: left;
	/* background: url(/global/img/products/product-bg.jpg) top left repeat-x; */
}

.product-thumb .decorator {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); */
	background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(255,255,255,0) 15%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,0)), color-stop(15%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,0) 15%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,0) 15%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,0) 15%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(239,239,239,0.7) 0%,rgba(255,255,255,0) 15%); /* W3C */
}

.product-thumb .decorator:hover,
.product-thumb.on .decorator {
	/* background-image: url(/global/img/products/product-bg-hover.jpg); */
	-webkit-box-shadow: inset 0 0 38px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 0 38px rgba(0,0,0,.1);
	box-shadow: inset 0 0 38px rgba(0,0,0,.1);
}

.product-thumb a:hover {
	border: none;
}

.product-thumb img {
	position: absolute;
	z-index: 9;
	top: 0;
	left: 50%;
	margin-left: -120px;
	width: 240px;
}

.product-thumb .title {
	position: relative;
	z-index: 11;
	color: #00aab3;
	font-size: 16px;
	padding: 22px 5px 0 5px;
	line-height: 20px;
	text-align: center;
}

/*
.product-thumb:hover .title,
.product-thumb.on .title {
	color: #fff;
}
*/



/* ---------- ARTICLE TEMPLATE ---------- */

.article p,
.article p a,
.picture-row p,
.picture-row p a {
	font-family:baskerville, "Mrs Eaves", Garamond, "Apple Garamond", Georgia, serif;
	font-weight:400;
	font-size: 24px;
	line-height: 26px;
}

.picture-row {
	position: relative;
}

.picture-row.alt {
	background: #f6f6f6;
}

.picture-row .content {
	padding: 10px 0;
}

.picture-row h3 {
	font-size: 40px;
	line-height: 40px;
	margin-bottom: -5px;
}

.picture-row p {
	margin: 10px 0;
}

.picture-row.left .content {
	padding-left: 10%;
	text-align: right;
	float: left;
}

.picture-row.right .content {
	padding-left: 30px;
	padding-right: 10%;
	text-align: left;
	float: right;
}

.picture-row .img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.picture-row.right .img {
	margin-left: 0;
	border-right: 3px solid #23cad5;
}

.picture-row.left .img {
	border-left: 3px solid #23cad5;
}

.article ul,
.article ol {
	color: #00aab3;
	margin-top: 15px;
	margin-bottom: 15px;
}

.article li {
	font-family:montserrat, avenir, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight:700;
	font-size: 14px;
	line-height: 26px;
}

.nav-product {
	text-align: center;
	margin: 60px 0 20px;
}

.nav-product h5 {
	color: #b0c778;
	font-size: 20px;
	line-height: 22px;
	text-transform: uppercase;
}





















/* ---------- BUTTONS --------- */

.button-cta {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	color: #fff;
	padding: 0 20px;
	background: #00c6d2;

    transition: All 500ms ease-out;
    -webkit-transition: All 500ms ease-out;
    -moz-transition: All 500ms ease-out;
    -o-transition: All 500ms ease-out;

	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.29), inset 0 0 13px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,.29), inset 0 0 13px rgba(0,0,0,.1);
	box-shadow: inset 0 0 1px rgba(0,0,0,.29), inset 0 0 13px rgba(0,0,0,.1);
}

.button-cta:hover {
	border: none;
	background-color: #b0c778;
	-webkit-box-shadow: inset 0 0 1px #000, inset 0 0 13px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 0 1px #000, inset 0 0 13px rgba(0,0,0,.2);
	box-shadow: inset 0 0 1px #000, inset 0 0 13px rgba(0,0,0,.2);
}

/* ---------- FOOTER ---------- */

footer {
	min-height: 412px;
	background: url(/global/img/common/footer/footer-bg.jpg) left bottom no-repeat #b0c778;
	color: #fff;
}

footer .links {
	margin-top: 40px;
}


footer .links li, footer .links li a {
    font-family:montserrat, avenir, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight:400;
	color: #fff;
	font-size: 22px;
	line-height: 32px;
	
}

footer .links li { border-bottom: 1px dotted #fff; }

footer .links a:hover {
	border-bottom: none;
}


footer .social a {
	display: block;
	text-indent: -999em;
	background-image: url(/global/img/common/social-sprites.png);
	background-repeat: no-repeat;
	outline: none;
	width: 48px;
	height: 48px;
	float: left;
	margin-right: 10px;
}

footer .social a:hover {
	border: none;
}

footer .social a.cms-selected { background-color:rgba(255,0,0,0.5); border-radius:4px; }

.footericon-facebook { background-position: 0 -50px; }
.footericon-twitter { background-position: 0 -100px; }
.footericon-linkedin { background-position: 0 -150px; }
.footericon-youtube { background-position: 0 -200px; }
.footericon-feed { background-position: 0 -250px; }

footer .contact {
	padding: 30px 30px 40px 30px;
	background: rgba(255,255,255,.1);
}

footer .contact h5 {
	color: #fff;
	font-size: 24px;
	line-height: 24px;
	margin: 10px 0;
}

footer .contact .upper {
	font-size: 18px;
	text-align: right;
	vertical-align: top;
	font-weight:normal;
}

footer .contact td {
	vertical-align: bottom;
	padding: 4px;
	font-size: 18px;
}

footer .contact a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}

footer .contact a:hover {
	border-bottom: none;
}

footer .contact hr {
	height: 5px;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	margin: 10px 0;
}

#copyright {
	margin-top: 50px;
	text-align: center;
	font-size: 12px;
}

#copyright a {
	color: #fff;
}

#copyright a:hover {
	border-bottom: 1px dotted #fff;
}




/* ---------- MEDIA QUERIES ---------- */

/* tablet and smaller */
@media (max-width: 979px) {

	h2 {
		font-size: 60px;
		line-height: 60px;
	}

	.member-nav {
		right: 10px;
	}

	.member-nav {
		z-index: 1;
		top: -36px;
		right: 70px;
		width: 316px;
	}

	.btn-menu {
		display: block;
		height: 40px;
		line-height: 40px;
		width: 50px;
		float: right;
		margin-right: 10px;
		border: none;
		color: #fff;
		background: transparent;
	}

	.navbar {
		top: -40px;
		right: 0;
		left: 0;
		background-color: #000;
	}

	/* Menu dropdowns on hover vs click */
	html.touch ul.nav li.dropdown:hover ul.dropdown-menu{
	    display: block;
	}

	li.dropdown:hover {
		border: none;
	}

	.dropdown-menu li a {
		height: 30px;
	}

	.nav-collapse .nav > li > a,
	.nav-collapse .dropdown-menu a {
		color: #fff;
	}

	#localization-nav {
		top: -35px;
		background-color: #000;
	}

	#localization-nav .arrow {
		display: none;
	}

	/*header { margin-top: 40px; height: 0; }*/

	header .container {
		width: 100%;
		padding: 0;
	}

	#content {
		margin-top: 0;
	}

	.feature-img {
		z-index: 99;
	}

	.dropdown.last .dropdown-menu {
		left: auto;
		text-align: left;
	}

	.right-column,
	.product-detail,
	.company {
		margin-left: 23% !important;
	}

	ul.secondary-nav li a {
		font-size: 16px;
		line-height: 16px;
	}

}

@media (min-width: 768px) and (max-width: 979px) {

	.rounded {
		width: 230px;
		height: 230px;
	}

	.feature-img .inner {
		width: 230px;
		height: 230px;
	}

	footer .contact {
		padding: 30px 20px 40px 20px;
	}


	.featured-product {
		float: none;
		margin: 10px auto;
		clear: both;
	}	
}

@media (min-width: 768px){
	.blue-background{
		background: #e2f8f9;
	}
}


@media (max-width: 767px) {
	body {
		padding: 0;
	}

	#logo {
		top: 10px;
		left: 10px;
	}

	.container {
		padding: 0 20px;
	}

	footer .contact {
		margin: 20px 0;
		background: transparent;
		padding: 0;
	}

	footer .social a {
		margin-right: 5px;
	}

	.offset0, .offset1, .offset2, .offset3, .offset4, .offset5,
	.offset6, .offset7, .offset8, .offset9, .offset10 {
		margin: 0 !important;
	}

	.feature-img {
		display: none;
	}

	.product-catimg,
	.timeline .img,
	.picture-row .img {
		position: relative !important;
		margin-left: 0 !important;
		min-height: 300px !important;
		clear: both !important;
		width: 100% !important;
		border: none !important;
	}

	.product {
		clear: both;
	}

	.product .content,
	.picture-row .content {
		padding: 20px;
	}

	.featured-product {
		float: none;
		margin: 10px auto;
		clear: both;
	}

	.right-column,
	.product-detail,
	.company {
		margin-left: 0 !important;
	}

	.intro h2 {
		font-size: 40px;
		line-height: 40px;
	}

	.product-thumb {
		width: 50%;
	}

	.sort-bar .search-field {
		width: 140px;
	}

	.top {
		height: 200px;
	}

	.timeline .content {
		float: none;
		width: 100%;
		clear: both;
	}

	.timeline-container {
		background: transparent;
	}

	.timeline .date-row.active {
		background-image: none !important;
	}

	.date-row .info {
		width: 60%;
	}

	.timeline.left .date-row .date {
		margin-left: 70%;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

    #logo {
        top: 4px;
        left: 10px;
        background-size:contain;
        width: 130px;
        height: 40px;
    }

	.member-nav {
		display: none;
	}

	.product-thumb {
		width: 100%;
		float: none;
	}

}


/* ---------- ie 8 specific ---------- */

.lt-ie9 .feature-img .inner {
	border: 4px solid #fff;
}

.lt-ie9 #wrapper {
	max-width: 1120px;
}

.lt-ie9 .dropdown.last .dropdown-menu {
	left: -96px;
}

.photo-grid { font-size:0; }
.photo-grid .photo-grid-item { display:inline-block; vertical-align:middle; }
.photo-grid-1 .photo-grid-item { width:100%; }
.photo-grid-2 .photo-grid-item { width:50%; }
.photo-grid-3 .photo-grid-item { width:33.3333%; }
.photo-grid-4 .photo-grid-item { width:25%; }
.photo-grid a, .photo-grid img { display:block; max-width:100%; vertical-align:middle; border-bottom:0!important; }


@media (max-width:960px) {
.photo-grid-4 .photo-grid-item { width:50%; }
}

@media (max-width:767px) {
.photo-grid-3 .photo-grid-item { width:100%; }
}

@media (max-width:639px) {
.photo-grid-4 .photo-grid-item { width:100%; }
.photo-grid-2 .photo-grid-item { width:100%; }
}
