
<div class="navbar-through">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding">My Cars</div>
    <div class="right"><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a></div>
  </div>
</div>
<div class="pages">
  <div data-page="cars" class="page">
    <div class="page-content">
      <div class="content-block-title">My Cars</div>
			<div class="list-block">
			  <ul>
			    <li class="accordion-item">
			    	<a href="#" class="item-content item-link">
			    		<div class="item-inner"><div class="item-title">Item 1</div></div>
			    	</a>
			      <div class="accordion-item-content">
			        <div class="list-block inset" style="margin-left: 35px;margin-right: 0px;">
							  <ul>
							    <li class="accordion-item">
							    	<a href="#" class="item-content item-link">
							        <div class="item-inner"><div class="item-title">Item 1</div></div>
							    	</a>
							      <div class="accordion-item-content">
							        <div class="content-block">AA</div>
							      </div>
							    </li>
							    <li class="accordion-item">
							    	<a href="#" class="item-content item-link">
							        <div class="item-inner"><div class="item-title">bb</div></div>
							    	</a>
							      <div class="accordion-item-content">
							        <div class="content-block">AA</div>
							      </div>
							    </li>
							  </ul>
							</div>
			      </div>
			    </li>
			    <li class="accordion-item">
			    	<a href="#" class="item-content item-link">
			        <div class="item-inner"><div class="item-title">Item 1</div></div>
			    	</a>
			      <div class="accordion-item-content">
			        <div class="content-block"><p>Item 1 content. Lorem ipsum dolor sit amet...</p></div>
			      </div>
			    </li>
			  </ul>
			</div>
		</div>			
  </div>
</div>