<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
    <div class="center sliding" id="chakra-title"> Chakra</div>
    <!-- this goes to home page -->
    <!-- div class="right"><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a></div -->
  </div>
</div>
<div class="pages">
  <div class="page" data-page="chakra">
    <div class="page-content" id="chakraInfo"></div>
  </div>
</div>