<div class="page-content">
	<div class="content">
		<!-- Search Bar -->
		<form class="searchbar searchbar-init" data-search-list=".tab" data-search-in=".item-title" data-found=".searchbar-found" data-not-found=".searchbar-not-found">
			<div class="searchbar-input">
				<input type="search" placeholder="Search">
				<a href="#" class="searchbar-clear"></a>
			</div>
			<a href="#" class="searchbar-cancel">Cancel</a>
		</form>
		<div class="searchbar-overlay"></div>
		<!-- Tabs, tabs wrapper -->
		<div class="tabs-swipeable-wrap">
			<div class="tabs">
				<div id="list-single" class="tab active">
					<div class="list-block media-list eo-list">
						{{listOils qField id_s}}
					</div>
				</div>
				<div id="list-blends" class="tab">
					<div class="list-block media-list eo-list">
						{{listOils qField id_b}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>