<div class="page" data-page="favItem">
	<div class="navbar">
		<div class="navbar-inner">
			<a class="back"><div class="left g-icons icon-only">keyboard_arrow_left</div></a>
			<div class="center">Favorite Items</div>
			<div class="right"><i class="g-icons">forward</i></div>
		</div>
	</div>
	<div class="page-content">
	<style>
		.facebook-card .card-header { display: block; padding: 8px }
		.facebook-card .facebook-avatar { float: left }
		.facebook-card .facebook-action { float: right; color: grey }
		.facebook-card .facebook-name { margin-left: 44px; font-size: 14px; font-weight: 500 }
		.facebook-card .facebook-date { margin-left: 44px; font-size: 13px; color: #8e8e93 }
		.facebook-card .card-content img { display: block; padding-right:5px ;float: left }
		.facebook-card .card-content-inner { padding: 8px 8px ; //15 10 original}  
		.facebook-card .card-footer { background: #fafafa }
		.facebook-card .card-footer a { color: #afb4bd; font-weight: 500; min-width: 36px }
		.facebook-card .card-footer a.pick { color: #5890ff; font-weight: 500 }
		.card-content img.chakra {padding-right: 2px; text-align-last:center; vertical-align:middle; display: inline; max-width: 30px; float: none; }	
		.card-content img.chakra.gray {filter: grayscale(100%)}
		.popover {width: 250px}
		
	</style>
	<div class="page-content-inner">
	{{#each this}}
	<div class="card facebook-card">
		<div class="card-header no-border">
			<div class="facebook-avatar"><img src="img/ad/headshot.jpg" style="max-width: 34px;"></div>
			<i class="g-icons facebook-action" target="{{index}}">keyboard_arrow_down</i>
			<div class="facebook-name">{{name}} Essential Oil</div>
			<div class="facebook-date">{{transform 'app' app}}</div>
		</div>
		<div class="card-content" style="display: block;">
			<div class="card-content-inner">
				<span><img src="img/eo/{{pic}}" width="20%"">
				{{des}}</span><br><br>
				<span>Great for: {{transform 'use' use}}</span>
			</div>
			<div style="text-align-last: center;display: block;">
				<span>Chakras related: {{transform 'cha' cha}}</span>
			</div>
		</div>
		<div class="card-footer toolbar messagebar messagebar-init">
			<div class="toolbar-inner item-input">
				<a href="#" class="link g-icons icon-only">thumb_up</a>
       			<textarea class="resizable" placeholder="Your personall message" ></textarea>
     			</div>
		</div>
	</div>{{/each}}
	</div>
</div>