<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
  </head>
  <body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>Left panel content goes here</p>
      </div>
    </div>
    <!-- Right panel with cover effect-->
    <div class="panel panel-right panel-cover">
      <div class="content-block">
        <p>Right panel content goes here</p>
      </div>
    </div>
    <!-- Views-->
    <div class="views">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="center sliding">Template7 Pages</div>
            <div class="right"><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a></div>
          </div>
        </div>
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          <!-- Index Page-->
          <div data-page="index" class="page">
            <div class="page-content">
              <div class="content-block-title">Welcome To My Awesome App</div>
              <div class="content-block">
                <div class="content-block-inner">
                  <p>This app illustrates how you can use built-in template engine Template7 to render pages with required data.</p>
                </div>
              </div>
              <div class="list-block">
                <ul>
                  <li><a href="#" data-template="about" data-context-name="about" class="item-link item-content">
                      <div class="item-inner"> 
                        <div class="item-title">About Me</div>
                      </div></a></li>
                  <li><a href="projects.html" class="item-link item-content">
                      <div class="item-inner"> 
                        <div class="item-title">My Projects</div>
                      </div></a></li>
                  <li><a href="cars.html" data-context-name="cars" class="item-link item-content">
                      <div class="item-inner">
                        <div class="item-title">My Cars</div>
                      </div></a></li>
                  <li><a href="oil_list.html" class="item-link item-content">
                      <div class="item-inner">
                        <div class="item-title">Oil</div>
                      </div></a></li>
                </ul>
              </div>
              
              
              
              <div class="content-block-title">Side panels</div>
              <div class="content-block">
                <div class="row">
                  <div class="col-50"><a href="#" data-panel="left" class="button open-panel">Left Panel</a></div>
                  <div class="col-50"><a href="#" data-panel="right" class="button open-panel">Right Panel</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Bottom Toolbar-->
        <!--
        <div class="toolbar">
          <div class="toolbar-inner">
          	<a href="#" class="link">Link 1</a>
          	<a href="#" class="link">Link 1</a>
          	<a href="#" class="link">Link 2</a>
          </div>
        </div>	
        -->
        
      </div>
    </div>
    <!-- Template7 templates-->
    <script type="text/template7" id="about">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
          <div class="center sliding">About Me</div>
          <div class="right"><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a></div>
        </div>
      </div>
      <div class="pages">
        <div data-page="about" class="page">
          <div class="page-content">
            <div class="content-block">
              <div class="content-block-inner">
                <p>Hello, my name is {{name}}. I am {{age}} years old and i am working as {{position}} at {{company}}.</p>
                <p>I have a lot of interests: {{#if interests}}{{join interests delimeter=", "}}{{/if}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="js/my-app.js"></script>
  </body>
</html>