<div class="pages navbar-fixed">
  <div class="page" data-page="vo">
		<div class="navbar-through">
  		<div class="navbar-inner">
			<!--Back button from-->
  			<div class="left">
					<a href="#" class="back link"><i class="icon icon-back" style="transform: translate3d(0px, 0px, 0px);"></i><span>Back</span></a>      		
   			</div><!--to-->
    		<div class="center">
    			Virtual Office
    		</div>
    		<div class="right">
    		</div>
  		</div>
		</div>
    <!-- Search Bar >
  	<form class="searchbar searchbar-init" data-search-list=".tabs" data-search-in=".item-title" data-found=".searchbar-found" data-not-found=".searchbar-not-found">
      <div class="searchbar-input">
        <input type="search" placeholder="Search">
        <a href="#" class="searchbar-clear"></a>
      </div>
      <a href="#" class="searchbar-cancel">Cancel</a>
    </form>
    <div class="searchbar-overlay"></div>
    <!-- Search Bar -->
 		<div class="page-content">
 			<iframe src="https://www.youngliving.com/vo/"></iframe>
			
 		</div>
  </div>
</div>
