<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
    	<a href="#" class="back link">
    		<i class="icon icon-back"></i><span>Back</span>
    	</a>
    </div>
    <div class="center sliding" id="oils-title"> Essential Oil</div>
    <!--div class="right">
    	<a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
    </div-->
  </div>
</div>
<div class="pages">
  <div class="page" data-page="oils">
    <div class="page-content" id="oilsInfo"></div>
  </div>
</div>