<div class="pages">
	<div data-page="profile" class="page navbar-through">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="left"><a class="g-icons icon-only cancelSave">clear</a></div>
				<div class="center" style="left: 0px;">Edit profile</div>
				<a href="#index" class="right back icon-only Save">
					<i class="g-icons">save</i>
				</a>
			</div>
		</div>
		<div class="page-content">
			<form id="profile" class="list-block store-data">
				<div class="content-block-title">Personal Information</div>
				  <ul class="content-block-inner">
				    <li>
				      <div class="item-content">
				        <div class="item-media"><i class="g-icons">account_circle</i></div>
				        <div class="item-inner">
				          <div class="item-title label">Name</div>
				          <div class="item-input">
				            <input name="displayName" type="text" placeholder="Your name">
				          </div>
				        </div>
				      </div>
				    </li>
				    <li>
				      <div class="item-content">
				        <div class="item-media"><i class="g-icons">email</i></div>
				        <div class="item-inner">
				          <div class="item-title label">E-mail</div>
				          <div class="item-input">
				            <input name="email" type="email" placeholder="E-mail" value="nelsonx@gmail.com" disabled>
				          </div>
				        </div>
				      </div>
				    </li>
				  </ul>
	    	<div class="content-block-title">Young Living Membership Information</div>
			    <ul class="contacts-block-inner">
			    <li>
			      <div class="item-content">
			        <div class="item-media"><i class="g-icons">person</i></div>
			        <div class="item-inner">
			          <div class="item-title label">Active</div>
			          <div class="item-input">
			            <label class="label-switch">
			              <input type="checkbox" checked>
			              <div class="checkbox"></div>
			            </label>
			          </div>
			        </div>
			      </div>
			    </li>
			    <li>
			      <div class="item-content">
			        <div class="item-media"><i class="g-icons">language</i></div>
			        <div class="item-inner">
			          <div class="item-title label">Membership</div>
			          <div class="item-input">
			            <input name="voCountry" type="Text" value="Singapore" disabled>
			          </div>
			        </div>
			      </div>
			    </li>
			    <li>
			      <div class="item-content">
			        <div class="item-media"><i class="icon g-icons">event</i></div>
			        <div class="item-inner">
			          <div class="item-title label">Since</div>
			          <div class="item-input">
			            <input type="date" placeholder="" value="2015-12-01" disabled>
			          </div>
			        </div>
			      </div>
			    </li>
			    <li>
			      <a href="#" class="item-link smart-select" data-open-in="picker">
			        <select name="displayCountry">
			          <option value="us" selected>United States</option>
			          <option value="tw">Taiwan</option>
			          <option value="sg">Singapore</option>
			          <option value="my">Malaysia</option>
			          <option value="au">Australia</option>
			        </select>
			        <div class="item-content">
			        	<div class="item-media"><i class="g-icons">language</i></div>
			          <div class="item-inner">
			            <div class="item-title">Catalog</div>
			            <!-- Selected value, not required -->
			            <div class="item-after">United States</div>
			          </div>
			        </div>
			      </a>
			    </li>
			    <!-- Date time>
			    <li>
			      <div class="item-content">
			        <div class="item-media"><i class="icon f7-icons">calendar</i></div>
			        <div class="item-inner">
			          <div class="item-title label">Date time</div>
			          <div class="item-input">
			            <input type="datetime-local">
			          </div>
			        </div>
			      </div>
			    </li>
			    <!-- Switch (Checkbox) >
			    <li>
			      <div class="item-content">
			        <div class="item-media"><i class="icon f7-icons">check</i></div>
			        <div class="item-inner">
			          <div class="item-title label">Switch</div>
			          <div class="item-input">
			            <label class="label-switch">
			              <input type="checkbox">
			              <div class="checkbox"></div>
			            </label>
			          </div>
			        </div>
			      </div>
			    </li>
			    <!-- Slider (Range input) >
			    <li>
			      <div class="item-content">
			        <div class="item-media"><i class="icon f7-icons">filter</i></div>
			        <div class="item-inner">
			          <div class="item-title label">Slider</div>
			          <div class="item-input">
			            <div class="range-slider">
			              <input type="range" min="0" max="100" value="50" step="0.1">
			            </div>
			          </div>
			        </div>
			      </div>
			    </li>
			    <!-- Textarea >
			    <li class="align-top">
			      <div class="item-content">
			        <div class="item-media"><i class="icon f7-icons">chat</i></div>
			        <div class="item-inner">
			          <div class="item-title label">Textarea</div>
			          <div class="item-input">
			            <textarea></textarea>
			          </div>
			        </div>
			      </div>
			    </li-->
			  </ul>
			
		</div>
		</form>
	</div>
</div>