@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/gIcons.woff2) format('woff2'),
       url(../fonts/gIcons.woff) format('woff'),
       url(https://raw.githubusercontent.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/gIcons.ttf) format('truetype'),
       url(https://raw.githubusercontent.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.ttf) format('truetype'),
       url(../fonts/gIcons.svg) format('svg');
}

.g-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* Preferred icon size and color(Blue) */
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

a.g-icons {   color: #007aff; }
.g-icons.white { color: #DDDDDD }