// material design for flexible buttons
.button .button-raised .button-fill a {
  display: compact;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.eo-list {
  margin: 0;
}
.eo-list .item-title {
  color: #000000;
}
.eo-list .item-title-row .item-after {
  font-size: 13px;
  vertical-align: text-bottom;
  color: #777777;
}
.eo-list .item-subtitle {
  font-size: 13px;
  color: #777777;
}
.eo-list .item-media {
  padding-top: 7px !important;
  padding-bottom: 8px !important;
}
.eo-list .item-media img {
  width: 60px;
  height: 60px;
  border-radius: 50%!important;
}
.swipeout-actions-right .fav-button {
	font-family: 'Material Icons';
	font-size: 30px ;
}

a.button-fill.color-chakra-red {
  background: #c62828;	
  color: #fff; 
}
a.button-fill.color-chakra-orange {
	background: #ef6c00;
  color: #fff;
}
a.button-fill.color-chakra-yellow {
	background: #ffcc00;
  color: #fff;	
}
a.button-fill.color-chakra-green {
	background: #558b2f;
  color: #fff;	
}
a.button-fill.color-chakra-blue {
	background: #1976d2;
  color: #fff;	
}
a.button-fill.color-chakra-indigo {
	background: #303f9f;
  color: #fff;	
}
a.button-fill.color-chakra-purple {
	background: #6a1b9a;
  color: #fff;	
}
a.button-fill.color-list-0 {
	background:#9575CD;
  color: #fff;
}
a.button-fill.color-list-1 {
	background: #FF7043;
  color: #fff;
}
a.button-fill.color-list-2 {
	background: #00C853;
  color: #fff;	
}
a.button-fill.color-list-3 {
	background: #FFCA28;
  color: #fff;
}
a.button-fill.color-list-4 {
	background: #2196F3;
  color: #fff;	
}
a.button-fill.color-list-5 {
	background: #F06292;
  color: #fff;	
}
a.button-fill.color-list-6 {
	background: #5C6BC0;
  color: #fff;	
}
a.button-fill.color-list-7 {
	background: #039BE5;
  color: #fff;	
}
a.button-fill.color-list-8 {
	background: #E040FB;
  color: #fff;
}
a.button-fill.color-list-9 {
	background: #FF5252;
  color: #fff;	
}
a.button-fill.color-list-10 {
	background: #3D5AFE;
  color: #fff;	
}
a.button-fill.color-list-11 {
	background: #0097A7;
  color: #fff;
}
a.button-fill.color-list-12 {
	background: #FFAB00;
  color: #fff;	
}
a.button-fill.color-list-13 {
	background: #2E7D32;
  color: #fff;	
}